<div>
  <h1>Icons and Colors</h1>

  <mat-icon color="primary"
    >signal_cellular_connected_no_internet_4_bar</mat-icon
  >
  <mat-icon color="accent">airplanemode_inactive</mat-icon>
  <mat-icon color="warn">airplanemode_active</mat-icon>
</div>

<br />
<div>
  <h1>Button Icons</h1>

  <button mat-icon-button color="primary">
    <mat-icon>signal_cellular_connected_no_internet_4_bar</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon>airplanemode_inactive</mat-icon>
  </button>
  <button mat-icon-button color="warn">
    <mat-icon>airplanemode_active</mat-icon>
  </button>
</div>

<br />
<div>
  <h1>Button FAB Icons</h1>

  <button mat-fab color="primary">
    <mat-icon>signal_cellular_connected_no_internet_4_bar</mat-icon>
  </button>
  <button mat-fab color="accent">
    <mat-icon>airplanemode_inactive</mat-icon>
  </button>
  <button mat-fab color="warn">
    <mat-icon>airplanemode_active</mat-icon>
  </button>
</div>

<br />
<div>
  <h1>Button mini FAB Icons</h1>

  <button mat-mini-fab color="primary">
    <mat-icon>signal_cellular_connected_no_internet_4_bar</mat-icon>
  </button>
  <button mat-mini-fab color="accent">
    <mat-icon>airplanemode_inactive</mat-icon>
  </button>
  <button mat-mini-fab color="warn">
    <mat-icon>airplanemode_active</mat-icon>
  </button>
</div>
<br />
