<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="sidenav"
    [fixedInViewport]="true"
    [mode]="sidenavMode"
    [opened]="!isSmallScreen"
  ></mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      class="toolbar-menu"
      [class.mat-elevation-z8]="applyShadow"
    >
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="popText">My App</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <mat-toolbar color="primary" class="toolbar-submenu">
      <span *ngIf="!popText">My App</span>
    </mat-toolbar>
    <app-button-icon></app-button-icon>
    <h1 class="title">teste</h1>
    <h1 class="title">teste</h1>
    <h1 class="title">teste</h1>
    <h1 class="title">teste</h1>
    <h1 class="title">teste</h1>
    <h1 class="title">teste</h1>
    <h1 class="title">teste</h1>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
